html, body{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url(tlo.jpg);
    background-attachment: fixed ;
    scroll-behavior: smooth;

}

html{
scroll-behavior: smooth;
}


nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to top, rgb(0, 0, 0,0) 11%, rgb(0, 0, 0,0.5) 100%);
    width: 98%;
    padding: 1%;
    height: 30px;

}
nav img{

    width: 40px;
}

nav ul{
margin: 0;
        padding: 0;
    display: flex;
}
nav ul button{
    background-color: transparent;
    border: none;
    width: 50px;
    font-size: 20px;
}

nav ul button:hover{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

nav ul li{
    margin: 0;
    padding: 0;
    list-style-type: none;

}

nav ul li a{

    display: block;
    text-align: center;
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 18px;

}

nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color:white;
}

@media screen and (max-width:720px){

nav img{
    width: 60%;
}
    
nav{
    justify-content: center;
    width: 98%;
    padding: 1%;
    height: 20%;
    flex-direction: column;
    }


nav ul{
    flex-direction: column;
    width: 100%;
    }

nav ul li a{
    width: 90%;
    padding: 5%;

    }
nav ul button{

    border: none;
    width: 50px;
    font-size: 20px;
}

#onasobraz{
     margin: auto;
    width: 300px;
    margin:10px;
    }

#wideo{
    width: 300px;
    height: 200px;
    }


.lista li {
    width: 90%;
    }

#address{
    border:2px solid rgb(0, 0, 0,0.4);
    width: 300px;
    border-radius: 10px;
    padding: 2%; color: white;
    background-color: rgb(0, 0, 0,0.5);
    }
.mapa{
    width:75%
}

    
                                    }




@media screen and (min-width:721px){
nav{
    flex-direction: row;
    }

nav ul{
    flex-direction: row;
    }

nav ul li a{
    width: 150px;
    padding: 10px;
    }
#onasobraz{
    display: block;
    text-align: center;
    width: 600px;
    margin:5px;
        }
.lista {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    padding: 0 5% 0 5%;
        }
        
#address{
    border:2px solid rgb(0, 0, 0,0.4);
    width: 300px;
    height: 20%;
    border-radius: 10px;
    padding: 2%; color: white;
    background-color: rgb(0, 0, 0,0.5);
        }


                                    }

nav img{

    width: 40px;
}

#onasdiv {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#onas{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#onastekst{
    padding: 5px;
    margin: 5px;
    font-family: arial;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    background-color: rgb(0, 0, 0,0.4);
    border:2px solid rgb(0, 0, 0,0.4);
    text-align: justify;
    width: 600px;
}

#hr1{
    background-color: black;
    border: 2px solid black;
    color: black;
    width: 95%;
    margin-top: 30px;
}
#hr2{

    background-color: black;
    border: 2px solid black;
    color: black;
    width: 95%;
    margin-bottom: 10px;
    margin-top: 10px;
}

#h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lista {

    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding: 0 5% 0 5%;
}

.lista li {
    display: flex;
    width: 500px;
    flex-direction: row;
    padding: 2% 0 2% 0;
    justify-content: center;
    align-items: center;
}

.lista li div {
    width: 50%;
}



.produktinfo{
    background-color: rgb(0, 0, 0,0.4);
    border:2px solid rgb(0, 0, 0,0.4);
    border-radius: 5px ;
    height: 270px;
}

#produkty{
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#prezentacjawideo{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#kontakt{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}




.mapa{
    margin-bottom: 2%;
    margin-left: 2%;
}


.themeText{
    padding: 3px; 
    color:white; 
    font-family:arial;
}

.checktext{
    margin-left: 30%; 
    text-decoration: none;
    color:lime; 
    font-size: 20px; 
    font-weight: bold; 
    font-family:arial;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;

}

.checktext:hover{
    font-size: 1.5em;
}
